.admin-hero.z-30[class="bg-white dark:bg-neutral-800 border-b border-gray-200 dark:border-neutral-700"]
  .hero-content.flex.justify-between.p-6.border-spacing-1 
    .hero-left
        .admin-hero-title
            h1.text-2xl.font-semibold.my-auto[class="text-gray-800 dark:text-neutral-200"] Dashboard
            h2.leading[class="text-sm text-gray-600 dark:text-neutral-400"] 
                p.support-text Manage and configure system settings efficiently with ease.
    .hero-right
        .hero-actions


  