.layout-admin-navbar
    header.navbar
      nav.navbar-content.px-4[class='sm:px-6']
        .navbar-brand.me-5[class='lg:me-0 lg:hidden']
          = link_to admin_dashboard_index_path, class: 'brand-link flex gap-1 font-semibold text-xl items-center focus:outline-none focus:opacity-80' do
            = inline_svg_tag "logo.svg", class: 'icon-logo'
            span.font-poppins.text-black[class="dark:text-white"] pubfinder
        .navbar-menu
            .navbar-start
              .navbar-item.relative
            .navbar-end
              .navbar-item 
                = link_to admin_map_index_path, class: "btn-base" do 
                  = inline_svg_tag "earth.svg", class: 'house size-4'
                  span.label Map View
              .navbar-item
                .nav-theme-switch
                  button.moon-mode.hs-dark-mode.inline-flex.items-center.gap-x-2.rounded-full.text-sm.text-gray-800[type="button" data-hs-theme-click-value="dark" class="hs-dark-mode-active:hidden bg-white hover:bg-gray-100 border shadow-sm focus:outline-none focus:bg-white/20 p-[0.6rem]"]
                    = inline_svg_tag "sun.svg", class: 'sun'
                  button.sun-mode.hs-dark-mode.hidden.inline-flex.items-center.gap-x-2.rounded-full.text-sm.text-white[type="button" data-hs-theme-click-value="light" class='hs-dark-mode-active:inline-flex border shadow-sm dark:bg-neutral-800 dark:border-neutral-700 hover:bg-white/20 focus:outline-none focus:bg-white/20 dark:hover:bg-neutral-700 p-[0.6rem]']
                    = inline_svg_tag "moon.svg", class: 'moon'
              .navbar-item
                .navbar-dropdown
                  = render "layouts/admin/dropdown_menu"






