@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout: aside, footer, hero, section, navbar */
/* Components: card, form, menu, modal, dropdown, pagination, alert, breadcrumb, tooltip, badge, tabs, details */
/* Elements: button, input, select, checkbox, radio, textarea, table, navigation, avatar, icon, loader, scroll, field*/

/* Base Styles and Variables */
@layer base {
  :root {
    --aside-width: 16.25rem;
    --navbar-height: 3.8rem;
    --footer-height: 3.875rem;
    --chevron-left: url('data:image/svg+xml;utf8,<svg class="shrink-0 overflow-visible size-3 text-gray-400 dark:text-neutral-500 __web-inspector-hide-shortcut__" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"/></svg>');
    --chevron-right: url('data:image/svg+xml;utf8,<svg class="shrink-0 overflow-visible size-2.5 text-gray-400 dark:text-neutral-500 __web-inspector-hide-shortcut__" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 1L10.6869 7.16086C10.8637 7.35239 10.8637 7.64761 10.6869 7.83914L5 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path></svg>');
  }

  html,
  body {
    @apply relative bg-white text-base font-poppins font-normal;
  }
}

/* Common Layout Classes */
@layer base {
  .layout-admin-container {
    @apply flex h-[100vh] max-w-full;
  }
  .layout-admin-content {
    @apply flex flex-auto flex-col ml-auto w-[100vw] lg:max-w-[calc(100%-var(--aside-width))] overflow-x-hidden;
  }
  main {
    @apply flex-1 sm:pl-0 overflow-y-auto;
  }
  .main-content {
    @apply min-h-[calc(100%-var(--footer-height))];
  }
}

/* Section Layout Classes */
@layer components {
  .section {
    @apply px-4 py-10 sm:px-6 lg:px-8 lg:py-8 mx-auto;
  }
}

/* Aside Layout Classes */
@layer components {
  .aside {
    @apply relative flex flex-col h-full max-h-full;
  }
  .aside-container {
    @apply h-full overflow-y-auto;
  }
}

/* Navbar Layout Classes */
@layer components {
  .navbar {
    @apply sticky h-[var(--navbar-height)] top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-[48] w-full bg-white border-b text-sm py-2.5 lg:ps-[calc(-1*var(--aside-width))] dark:bg-neutral-800 dark:border-neutral-700;
  }
  .navbar-content {
    @apply flex basis-full items-center w-full mx-auto;
  }
  .navbar-menu {
    @apply w-full flex items-center justify-end ms-auto gap-x-1 md:justify-between md:gap-x-3;
  }
  .navbar-start {
    @apply hidden md:block;
  }
  .navbar-end {
    @apply flex flex-row items-center justify-end gap-2;
  }
}

/* Checkbox Element Classes */
@layer components {
  .checkbox {
    @apply shrink-0 border-gray-300 rounded text-blue-600 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-600 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800;
  }
}

/* Select Element Classes */
@layer components {
  .hs-select {
    @apply relative py-2 px-3 ps-4 pe-9 flex gap-x-2 text-nowrap w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-neutral-800 dark:border-neutral-700 text-gray-600 dark:text-neutral-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-neutral-600;
  }
}

/* Button Element Classes */
@layer components {
  .btn-base {
    @apply cursor-pointer text-nowrap py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700;
  }
  .btn-primary {
    @apply text-nowrap py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none;
  }
  .btn-secondary {
    @apply btn-base border border-gray-200 bg-white text-gray-800 hover:bg-gray-50 focus:bg-gray-50 dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800;
  }
  .btn-outline {
    @apply p-2 inline-flex border-2 items-center gap-x-2 text-sm font-normal rounded-lg text-gray-500 hover:border-blue-500 hover:text-blue-500 focus:outline-none focus:border-blue-600 active:border-blue-500 focus:text-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-400 dark:hover:text-white dark:hover:border-white dark:focus:text-white dark:focus:border-white dark:active:text-white dark:active:border-white bg-white dark:bg-neutral-800 dark:hover:bg-neutral-700;
  }
  .button-close {
    @apply inline-flex shrink-0 justify-center items-center size-6 rounded-full text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:text-neutral-500 dark:hover:text-blue-500 dark:focus:text-blue-500;
  }
  .button-nav-search {
    @apply md:hidden size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700;
  }
  .btn-danger {
    @apply text-nowrap py-3 px-4 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-red-500 text-red-500 hover:border-red-400 hover:text-red-400 focus:outline-none focus:border-red-400 focus:text-red-400 disabled:opacity-50 disabled:pointer-events-none;
  }
  .btn-outline.active-outline {
    @apply border-2 border-blue-500 text-blue-600 dark:text-gray-600 dark:border-neutral-800 dark:text-white;
  }
}

/* Icon Element Classes */
@layer components {
  .icon-logo {
    .icon-background {
      @apply fill-gray-800 dark:fill-white;
    }
    .icon-map {
      @apply fill-white dark:fill-gray-800;
    }
  }
}

/* Input Element Classes */
@layer components {
  .input-base {
    @apply py-2 block w-full bg-white border-gray-200 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-600 text-gray-600 dark:text-neutral-400;
  }
  .input-primary {
    @apply bg-blue-600 text-white hover:bg-blue-700 py-2 block w-full border-gray-200 rounded-lg text-sm focus:outline-none focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 placeholder:text-neutral-400 dark:focus:ring-neutral-600 text-white dark:text-white;
  }
  .input-light {
    @apply input-base bg-white border-gray-200 text-gray-600 dark:bg-neutral-800 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder:text-neutral-400 dark:focus:ring-neutral-600;
  }
  .input-group {
    @apply flex items-start border rounded-lg shadow-sm transition-[width] ease-in focus-within:w-full;
    .input-left {
      @apply ps-3.5 absolute inset-y-0 start-0 flex items-center pointer-events-none z-20;
    }
    .input-right {
      @apply pe-3.5 absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 border-l border-gray-200;
    }
    .input-base {
      @apply pl-10 pr-6 flex-1 p-2 outline-none;
    }
    .field-close {
      @apply pe-3.5 absolute inset-y-0 end-0 flex items-center z-20;
    }
    .field-command {
      @apply absolute inset-y-0 end-0 flex items-center pointer-events-none z-20 text-gray-400;
    }
  }
}

/* Field Element Classes */
@layer components {
  .field-item {
    @apply grid grid-cols-1 last:mb-0 mb-6 md:grid-cols-5;
  }
  .field-label {
    @apply mb-1 mr-5 md:text-right;
    .label {
      @apply font-semibold text-gray-800 dark:text-neutral-200;
    }
  }
  .field-value {
    @apply md:col-span-4;
    .value {
      @apply text-gray-600 dark:text-neutral-400;
    }
  }
}

/* Details Component Classes */
@layer components {
  .details {
    @apply dark:text-white dark:bg-neutral-800;
  }
  .details-content {
    @apply space-y-4 md:space-y-6 flex-1 text-sm;
  }
}

/* Pagination Component Classes */
@layer components {
  .pagination {
    @apply flex items-center -space-x-px flex-wrap;

    .previous_page {
      @apply h-[40px] w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm first:rounded-s-lg last:rounded-e-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10 cursor-pointer;
    }
    .next_page {
      @apply h-[40px] w-[38px] py-2 px-2.5 inline-flex justify-center items-center gap-x-1.5 text-sm first:rounded-s-lg last:rounded-e-lg border border-gray-200 text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10 cursor-pointer;
    }

    .current {
      @apply min-h-[40px] min-w-[38px] flex justify-center items-center py-2 px-3 text-sm first:rounded-s-lg last:rounded-e-lg focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-white dark:focus:bg-neutral-500 bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 cursor-pointer;
    }

    .gap {
      @apply h-[40px] w-[38px] flex justify-center items-center bg-gray-200 text-gray-800 border border-gray-200 py-2 px-3 text-sm hover:bg-gray-50 dark:hover:bg-neutral-700 first:rounded-s-lg last:rounded-e-lg focus:outline-none focus:bg-gray-300 disabled:opacity-50 disabled:pointer-events-none bg-white dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:focus:bg-neutral-500 cursor-pointer;
    }

    .disabled {
      @apply bg-gray-200 hover:bg-gray-200 dark:!bg-white/10 cursor-not-allowed;
    }

    a {
      @apply h-[40px] w-[38px] flex justify-center items-center bg-gray-200 text-gray-800 border border-gray-200 py-2 px-3 text-sm hover:bg-gray-50 dark:hover:bg-neutral-700 first:rounded-s-lg last:rounded-e-lg focus:outline-none focus:bg-gray-300 disabled:opacity-50 disabled:pointer-events-none bg-white dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:focus:bg-neutral-500 cursor-pointer;
    }
  }
}

/* Breadcrumb Component Classes */
@layer components {
  .breadcrumb {
    @apply sticky top-0 inset-x-0 z-20 bg-white border-y px-4 sm:px-6 lg:px-8 lg:hidden dark:bg-neutral-800 dark:border-neutral-700;
  }
  .breadcrumb-content {
    @apply flex items-center py-2;
  }
  .breadcrumb-trigger {
    @apply size-8 flex justify-center items-center gap-x-2 border border-gray-200 text-gray-800 hover:text-gray-500 rounded-lg focus:outline-none focus:text-gray-500 disabled:opacity-50 disabled:pointer-events-none dark:border-neutral-700 dark:text-neutral-200 dark:hover:text-neutral-500 dark:focus:text-neutral-500 dark:focus:bg-neutral-700;
  }
  .breadcrumb-list {
    @apply ms-3 flex items-center whitespace-nowrap;
  }
  .breadcrumb-base {
    @apply flex items-center text-sm text-gray-800 dark:text-neutral-400;
  }
  .breadcrumb-item {
    @apply text-sm font-semibold text-gray-800 truncate dark:text-neutral-400;
  }
}

/* Dropdown Component Classes */
@layer components {
  .dropdown {
    @apply relative inline-flex;
  }
  .dropdown-content {
    span {
      @apply text-ellipsis line-clamp-2;
    }
  }
  .dropdown-search {
    @apply absolute top-[3.2rem] left-0 w-full bg-white rounded-md shadow-md z-10;
  }
  .dropdown-account {
    @apply size-[38px] focus:outline-none disabled:opacity-50 disabled:pointer-events-none dark:text-white hover:bg-gray-100 dark:hover:bg-neutral-700 dark:border-neutral-700 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border text-gray-800;
  }
  .dropdown-account-info {
    @apply py-3 px-5 bg-gray-100 rounded-t-lg dark:bg-neutral-700;
  }
}

/* Filter Dropdown Component Classes */

@layer components {
  .filter-dropdown {
    @apply relative inline-block;
    .filter-dropdown-button {
      @apply py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-800 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700;
    }
  }
}

/* Card Component Classes */
@layer components {
  .card {
    @apply bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden dark:bg-neutral-800 dark:border-neutral-700;

    .card-header {
      @apply px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-b border-gray-200 dark:border-neutral-700;
      .header-title {
        .leading {
          @apply text-xl font-semibold text-gray-800 dark:text-neutral-200;
        }
        .support-text {
          @apply text-sm text-gray-600 dark:text-neutral-400;
        }
      }
    }
    .card-content {
      @apply min-w-full divide-y divide-gray-200 dark:divide-neutral-700 relative overflow-x-auto;
    }
    .card-filters {
      @apply p-4 border-b border-gray-200 dark:border-neutral-700;
    }
    .card-content-wrap {
      @apply inline-block min-w-full align-middle;
    }
    .card-footer {
      .footer-content {
        @apply px-6 py-5 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-neutral-700;
      }
    }
  }
}

/* Table Component Classes */
@layer components {
  .table {
    @apply w-full;
  }
  .thead-wrap {
    @apply border-b border-gray-200 dark:border-neutral-700 bg-gray-50 dark:bg-neutral-800;
  }
  .tbody-wrap {
    @apply divide-y divide-gray-200 dark:divide-neutral-700;
  }
  .th-wrap {
    @apply px-6 py-3 text-start whitespace-nowrap;
    .wrap {
      @apply flex items-center gap-x-2;
      .label {
        @apply text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-neutral-200;
      }
    }
  }
  .td-wrap {
    @apply size-px whitespace-nowrap;
    .wrap {
      @apply ps-6 py-3;
      .label {
        @apply block text-sm font-normal text-gray-800 dark:text-neutral-200;
      }
    }
  }
}

/* Navigation Component Classes */
@layer components {
  .nav-item {
    @apply flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg focus:outline-none focus:bg-gray-100 dark:text-white;
  }
  .nav-icon-button {
    @apply size-[38px] relative inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full border border-transparent text-gray-800 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 dark:text-white dark:hover:bg-neutral-700 dark:focus:bg-neutral-700;
  }
  .link-action {
    @apply text-nowrap inline-flex items-center gap-x-1 text-sm text-blue-600 decoration-2 hover:underline focus:outline-none focus:underline font-medium dark:text-blue-500;
  }
}

/* Form Component Classes */
@layer components {
  .form {
    @apply dark:text-white dark:bg-neutral-800;
  }
  .form-inputs {
    .form-content {
      @apply space-y-4 md:space-y-6 flex-1 text-sm;
    }
  }
}

/* Map Component Classes */
@layer components {
  .map-sidebar {
    @apply absolute z-[500] left-3 top-[5rem] sm:top-14 w-[24rem];
    .input-group {
      @apply border-0;
    }
    .buttons-action {
      @apply flex gap-[0.3rem] mt-2 justify-between;
      button {
        @apply !py-1;
      }
    }
    .location-card {
      @apply flex mt-2 p-4 gap-3;
      .location-image {
        @apply h-[4rem] w-[40%];
        img {
          @apply h-full object-cover object-center rounded-md;
        }
      }
    }
  }
}

/* MapView Component Classes */
@layer components {
  .map-view {
    .map-container {
      @apply w-full h-[86.8vh];
    }
    .map-toggle-sidebar {
      @apply absolute z-[500] left-3 top-[0.625rem];
    }
    .leaflet-top {
      .leaflet-bar {
        @apply flex flex-col border-0 gap-1;
        .leaflet-control-zoom-in {
          @apply btn-base !p-0 justify-center;
        }
        .leaflet-control-zoom-out {
          @apply btn-base !p-0 justify-center;
        }
      }
    }
  }
}

/* PopUp Component Classes */
@layer components {
  .leaflet-popup {
    @apply h-[11.875rem] w-[14rem];
    .card-popup {
      @apply flex flex-col gap-2;
      .card-image {
        @apply h-[4.5rem];
      }
      .image {
        @apply relative w-[14rem] top-[-1rem] left-[-1.3rem] bg-white rounded-t-xl overflow-hidden;
      }
    }
    .card-content {
      .place-name {
        @apply text-ellipsis line-clamp-1;
      }
    }
  }
  .leaflet-popup-content-wrapper {
    @apply bg-white dark:bg-neutral-800;
  }
  .leaflet-popup-tip {
    @apply bg-white dark:bg-neutral-800;
  }
}

/* Menu Component Classes */
@layer components {
  .menu {
    @apply p-3 w-full flex flex-col flex-wrap;
  }
  .menu-list {
    @apply flex flex-col space-y-1;
  }
  .menu-link {
    @apply flex items-center gap-x-3.5 py-2 px-2.5 text-sm text-gray-800 rounded-lg focus:outline-none focus:bg-gray-100 dark:text-white;
  }
}

/* PlacesList Component Classes */
@layer components {
  .places-list {
    .places-scroll {
      @apply h-[30rem] overflow-y-scroll mt-4;
    }
  }
}

@layer utilities {
}
